.custom-heading-count {
	opacity: 0.5;
}

.outline .tree-item-children {
	counter-reset: multi-counters;
}

.outline .tree-item {
	counter-increment: multi-counters;
}

.outline .tree-item-inner::before {
	content: counters(multi-counters, ".") ". ";
}

/* Fix for vertical alignment of headings without children */

.outline .tree-item-inner {
	padding-left: var(--size-4-3);
}

.outline .tree-item-icon {
	position: absolute;
}

@media print {
    .__title__ {
        /* color: #0066cc !important;   blue */
        color: #457b9d !important;  /* blue */
        text-align: center !important;  /* center alignment */

        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;

        /* font size one level larger than h1: assuming h1 is 2em, set this to 2.4em */
        font-size: 2em !important;

        /* optional: enhanced print styling */
        font-weight: bold !important;
        margin-top: 1.5em !important;
        margin-bottom: 1em !important;
        page-break-after: avoid !important; /* avoid page break after this title */
    }
}